* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $primary;
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary;

        &:hover {
            background: $primary;
        }
    }
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
    text-decoration: none;
}
