<header class="p-4 bg-primary text-white text-center">
  <h1 class="fw-bold">
    My Expenses
    <% if @page_title.present? %>
      <span>
        - <%= @page_title %>
      </span>
    <% end %>
    <% if @user.present? %>
      <span>
        - <%= @user.name %>
      </span>
    <% end %>
  </h1>
</header>
