<header class="p-2 bg-primary text-white text-center">
  <h1 class="fw-bold">
    My Expenses
    <% if @page_title.present? %>
      <span>
        - <%= @page_title %>
      </span>
    <% end %>
    <% if @user.present? %>
      <span>
        - <%= @user.name %>
      </span>
    <% end %>
    <% if @logged_in.present? && @logged_in %>
      <%= button_to "Logout", session_path(:user), method: :delete %>
    <% end %>
  </h1>
</header>
