<header class="p-4 bg-info text-white text-center">
  <h1 class="fw-bold">
    <span>My Expenses</span>
    <% if content_for :title %>
      <span>
        - <%= yield :title %>
      </span>
    <% end %>
  </h1>
</header>
