{% extends "base.html" %}

{% block title %} New Expense {% endblock %}

{% block header %}
    {% include 'header.html' with title="New Expense" %}
{% endblock %}

{% block content %}
    <main id="expenses-create">
        <form method="post" action="{% url 'expenses:create' %}">
            {% csrf_token %}

            {% include 'form_errors.html' %}

            <div class="mb-4">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="mb-4">
                {{ form.value.label_tag }}
                {{ form.value }}
            </div>

            <div class="mb-4">
                {{ form.payment_date.label_tag }}
                {{ form.payment_date }}
            </div>

            <div class="d-flex gap-2">
                <a href="{% url "expenses:index" %}" class="btn btn-secondary text-white">Back</a>

                <button type="submit" class="btn btn-primary">Create Expense</button>
            </div>
        </form>
    </main>
{% endblock %}
