<div
    id="expenses-payment-day-is-tomorrow-mail"
    style="border: 1px solid #dee2e6; border-radius: 0.25rem; padding: 1.25rem;"
>
    <div style="border-bottom: 1px solid #dee2e6; padding-bottom: 0.75rem; margin-bottom: 1.25rem;">
        <h3 style="margin: 0; color: #78c2ad;">Hello {{ username }}</h3>
    </div>

    <div>
        <h4 style="display: block; margin-bottom: 0.5rem;">
            Remember that the payment day of your expenses is tomorrow!
        </h4>

        <ul>
            {% for expense in expenses %}
                <li>{{ expense.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
