{% extends "base.html" %}

{% block title %} Update {{ expense.name }} {% endblock %}

{% block header %}
    {% include 'header.html' with title="Update "|add:expense.name %}
{% endblock %}

{% load date_filters %}

{% block content %}
    <main id="expenses-update">
        <form method="post" action="{% url 'expenses:update' expense.id %}">
            {% csrf_token %}

            {% include 'form_errors.html' %}

            <div class="mb-4">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="mb-4">
                {{ form.value.label_tag }}
                {{ form.value }}
            </div>

            <div class="mb-4">
                {{ form.payment_date.label_tag }}
                {{ form.payment_date }}
            </div>

            <div class="d-flex gap-2">
                <a href="{% url 'expenses:index' %}" class="btn btn-secondary text-white">Back</a>

                <button type="submit" class="btn btn-primary">Update Expense</button>
            </div>
        </form>
    </main>
{% endblock %}
