{% extends "base.html" %}

{% block title %} Update Expense {% endblock %}

{% block header %}
    {% include 'header.html' with title="Update Expense" %}
{% endblock %}

{% load date_filters %}

{% block content %}
    <main id="expenses-update">
        <form method="post" action="{% url 'expenses:update' expense.id %}">
            {% csrf_token %}

            {% include 'form_errors.html' %}

            <div class="mb-4">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="mb-4">
                {{ form.value.label_tag }}
                {{ form.value }}
            </div>

            <div class="mb-4">
                {% if expense.payment_date|is_a_past_date %}
                    <input
                        class="form-control"
                        type="text"
                        value="{{ expense.payment_date|format_to_day_month_and_year }}"
                        aria-describedby="payment-date-advise"
                        disabled
                    />

                    <div id="payment-date-advise" class="form-text">
                        Past payment dates cannot be updated
                    </div>
                {% else %}
                    {{ form.payment_date.label_tag }}
                    {{ form.payment_date }}
                {% endif %}
            </div>

            <div class="d-flex gap-2">
                <a href="{% url 'expenses:index' %}" class="btn btn-secondary text-white">Back</a>

                <button type="submit" class="btn btn-primary">Update Expense</button>
            </div>
        </form>
    </main>
{% endblock %}
